{% extends "plantilla_admin.html" %}
{% load static %}
{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="text-center mb-4">EDITAR PRODUCTO</h3>
                    <form action="/procesarEdicionProducto/" method="POST" id="frm_editar_producto" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <!-- Campo oculto con el ID del producto -->
                        <input type="hidden" name="id_prod" value="{{ producto.id_prod }}">

                        <div class="mb-3">
                            <label for="nomb_prod" class="form-label"><b>NOMBRE DEL PRODUCTO:</b></label>
                            <input type="text" name="nomb_prod" id="nomb_prod" class="form-control" required value="{{ producto.nomb_prod }}">
                        </div>

                        <div class="mb-3">
                            <label for="descrip_prod" class="form-label"><b>DESCRIPCION:</b></label>
                            <textarea name="descrip_prod" id="descrip_prod" class="form-control" rows="3" required>{{ producto.descrip_prod }}</textarea>
                        </div>
                         <div class="mb-4">
                    <label for="marca_prod" class="form-label fw-semibold">MARCA:</label>
                    <textarea name="marca_prod" id="Marca_prod" class="form-control" rows="3" required>{{ producto.marca}}</textarea>
                </div>

                        <div class="mb-3">
                            <label for="foto_prod" class="form-label"><b>IMAGEN PRODUCTO</b></label>
                            <input type="file" name="foto_prod" id="foto_prod" class="form-control">

                            {% if producto.img_prod %}
                            <div class="mt-2">
                                <p>Imagen actual:</p>
                                <img src="{{ producto.img_prod.url }}" alt="{{ producto.nomb_prod }}" style="max-width: 150px; height: auto;">
                            </div>
                            {% endif %}
                        </div>


                        <div class="mb-3">
                            <label for="id_cat" class="form-label"><b>CATEGORIA:</b></label>
                            <select name="id_cat" id="id_cat" class="form-select" required>
                                <option value="" disabled>Seleccione una categoria</option>
                                {% for cat in id_cat %}
                                    <option value="{{ cat.id_cat }}" {% if producto.id_cat.id_cat == cat.id_cat %}selected{% endif %}>
                                        {{ cat.id_cat }} - {{ cat.tipo_cat }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="d-flex justify-content-center gap-2">
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                            <a href="/listadoProducto/" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- Configuración específica del FileInput -->
<!-- Archivo CDN Fileinput para la carga del logo -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.4/css/fileinput.min.css" integrity="sha512-yDVMONIXJPPAoULZ92Ygngsn8ZUGB4ejm6fCc6q9ZvdH8blFAOgg75XZSEaAJ5m4E/yPI1BAi5fF2axMHVuZ5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.4/js/fileinput.min.js" integrity="sha512-0wQvB58Ha5coWmcgtg4f11CTSSxfrfLClUp9Vy0qhzYzCZDSnoB4Vhu5JXJFs7rU24LE6JsH+6hpP7vQ22lk5w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        // Inicialización del fileinput para el logo
        $("#foto_prod").fileinput({
            allowedFileExtensions: ["jpg", "jpeg", "png"],
            showUpload: false,
            maxFileSize: 5000,
            language: 'es', // Cambiar idioma a español
            browseLabel: 'Seleccionar',
            removeLabel: 'Eliminar',
            cancelLabel: 'Cancelar',
            uploadLabel: 'Subir',
            msgPlaceholder: 'Seleccionar archivo...',
            msgSizeTooLarge: 'El archivo "{name}" (<b>{size} KB</b>) excede el tamaño máximo permitido de <b>{maxSize} KB</b>.',
            msgFilesTooMany: 'El número de archivos seleccionados <b>({n})</b> excede el máximo permitido de <b>{m}</b>.',
            msgInvalidFileExtension: 'Extensión no válida para el archivo "{name}". Solo se permiten archivos "{extensions}".',
            dropZoneEnabled: true,
            dropZoneTitle: 'Arrastra y suelta archivos aquí...',
           
        });
    </script>
{% endblock %}
 