{% extends "plantilla_admin.html" %}
{% load static %}

{% block contenido %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

<br><br>
<h3 class="text-center mb-4">LISTADO DE USUARIOS</h3>

<div class="card shadow">
    <div class="card-body">
        <table class="table table-bordered table-striped table-hover" id="tbl_usuario">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>USUARIO</th>
                    <th>EMAIL</th>
                    <th>CELULAR</th>
                    <th>ROL</th>
                </tr>
            </thead>
            <tbody>
                {% for usu in usuario %}
                <tr>
                    <td>{{ usu.id }}</td>
                    <td>{{ usu.username }}</td>
                    <td>{{ usu.email }}</td>
                    <td>{{ usu.cel_user }}</td>
                     <td>
                        {% if usu.tipo_usuario == 'admin' %}
                            Administrador
                        {% elif usu.tipo_usuario == 'cliente' %}
                            Cliente
                        {% endif %}
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {
    $('#tbl_usuario').DataTable({
     scrollX:true,
      responsive:true,
      language: {
        url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json'
      },
      dom: 'Bfrtip',
      buttons: [
        { extend: 'excelHtml5',  text: 'Excel',     className: 'btn btn-success me-2' },
        { extend: 'pdfHtml5',    text: 'PDF',       className: 'btn btn-danger me-2'  },
        { extend: 'print',       text: 'Imprimir',  className: 'btn btn-primary' }
      ]
    });
  });
</script>

<style>
    
        /* Asegura que la tabla use todo el ancho disponible */
    .table {
        width: 100% !important;
        table-layout: auto;
    }

    /* Contenedor de la tabla, asegurando que no haya un margen que limite su tamaño */
    .card-body {
        padding: 0;
        overflow-x: auto;
    }

    /* Ajustar para que la tabla se pueda desplazar horizontalmente si es necesario */
    #tbl_inventario_wrapper {
        overflow-x: auto;
    }

    /* Aseguramos que los botones de DataTables también estén bien organizados */
    div.dt-buttons {
        margin-bottom: 10px;
    }

    .dataTables_scrollHeadInner {
        width: 100% !important;
    }

    .dataTables_scrollBody {
        width: 100% !important;
    }

    div.dt-buttons .btn {
        margin-right: 10px;
    }
</style>
{% endblock %}
