{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="{% static 'plantilla_cliente/css/estilos.css' %}">
		<link rel="stylesheet" href="{% static 'plantilla_cliente/css/style.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		 <title>{% block title %}AJ DITEC{% endblock %}</title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{% static 'plantilla_cliente/css/bootstrap.min.css' %}"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="{% static 'plantilla_cliente/css/slick.css' %}"/>
		<link type="text/css" rel="stylesheet" href="{% static 'plantilla_cliente/css/slick-theme.css' %}"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="{% static 'plantilla_cliente/css/nouislider.min.css' %}"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="{% static 'plantilla_cliente/css/font-awesome.min.css' %}">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="{% static 'plantilla_cliente/css/style.css' %}"/>
    </head>
    <body>
        <!-- Resto del contenido HTML -->
         <body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li>
						<a
							href="https://api.whatsapp.com/send?phone=593969025956&text=¡Hola!%20Quisiera%20más%20información%20sobre%20sus%20productos."
							target="_blank"
							rel="noopener"
						>
							<i class="fa fa-phone"></i> +593 9 6902 5956
						</a>
						</li>
						<li><a href="mailto:ajditec.ventas@gmail.com"><i class="fa fa-envelope-o"></i> ajditec.ventas@gmail.com</a></li>

						<li>
						<a href="https://www.google.com/maps/search/?api=1&query=QGW2+5HR,+Av.+10+de+Agosto,+Quito+170129" target="_blank">
							<i class="fa fa-map-marker"></i> QGW2+5HR, Av. 10 de Agosto, Quito 170129
						</a>
						</li>

					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
				<div id="header">
					<div class="container">
						<div class="row">
						<div class="col-md-3">
							<div class="header-logo">
							<a href="#" class="logo">
								<img src="{% static 'plantilla_cliente/img/logo.PNg' %}" alt="Logo">
							</a>
							</div>
						</div>
					
      <!-- /LOGO -->

						<!-- BARRA DE BUSQUEDA -->
					<div class="col-md-6">
						<div class="header-search">
							<form method="GET" action="{% url 'inicio' %}">
						<select name="categoria" class="input-select">
							<option value="">Todos</option>
							{% for cat in categorias %}
								<option value="{{ cat.id_cat }}" {% if categoria_id == cat.id_cat|stringformat:"s" %}selected{% endif %}>
								{{ cat.tipo_cat }}
							</option>

								{% endfor %}
							</select>
							<input name="buscar" class="input" placeholder="Buscar en AJ DITEC" value="{{ buscar }}">
							<button type="submit" class="search-btn">Buscar</button>
						</form>

							</div>
						</div>
						<!-- /BARRA DE BUSQUEDA -->


						<!-- CUENTA -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								
						<!-- CUENTA -->
						<div class="cuenta-contenedor">
								{% if request.user.is_authenticated %}
								<div class="cuenta-login" id="btnCuenta">
									<i class="fa fa-user"></i>
									<div class="cuenta-texto">
									<span>{{ request.user.get_full_name|default:request.user.username }}</span>
									<i class="fa fa-caret-down"></i>
									</div>
								</div>
								<div class="cuenta-menu" id="menuCuenta">
                                    <a href="{% url 'listar_ordenes' %}"><i class="fa fa-history"></i> Historial de Órdenes</a>
                                    <a href="{% url 'catalogo' %}"><i class="fa fa-id-card"></i> Mi cuenta</a>
                                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Cerrar sesión</a>
                                </div>
								{% else %}
								<a href="{% url 'login' %}" class="cuenta-login">
									<i class="fa fa-user"></i>
									<span>Mi Cuenta</span>
								</a>
								{% endif %}
							</div>
								<!-- CUENTA -->
							<!-- CARRITO -->
							<div class="dropdown">
							<a href="{% url 'carrito' %}" class="dropdown-toggle" aria-expanded="true">
								<i class="fa fa-shopping-cart"></i>
								<span>Carrito</span>
								<div class="qty">
									{% if carrito_total_items %}
										{{ carrito_total_items }}
									{% else %}
										0
									{% endif %}
								</div>
							</a>
						</div>

							<!-- /CARRITO -->



								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">Categories</a></li>
						<li><a href="#">Pantallas</a></li>
						<li><a href="#">Accessorios</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{% static 'plantilla_cliente/img/shop01.png' %}" alt="shop">

								
							</div>
							<div class="shop-body">
								<h3>Pantallas<br>Colección</h3>
								<a href="#" class="cta-btn">Compra ahora <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{% static 'plantilla_cliente/img/shop03.png' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Accessorios<br>Colección</h3>
								<a href="#" class="cta-btn">Compra ahora <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{% static 'plantilla_cliente/img/cargador2.jpg' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Baterías y Cargadores<br>Colección</h3>
								<a href="#" class="cta-btn">Compra ahora <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Nuevos Productos</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
									<li><a data-toggle="tab" href="#tab1">Baterias</a></li>
									<li><a data-toggle="tab" href="#tab1">Pantallas</a></li>
									<li><a data-toggle="tab" href="#tab1">Cargadores</a></li>
									<li><a data-toggle="tab" href="#tab1">Componentes Internos</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for producto in productos %}
										<div class="product" style="height: 370px; width: 100%; display: flex; flex-direction: column; justify-content: space-between;">

										<div class="product-img">
											<img src="{{ producto.img_prod.url }}" alt="{{ producto.nomb_prod }}">
										</div>
										<div class="product-body">
											<p class="product-category">{{ producto.id_cat.tipo_cat }}</p>
											<h3 class="product-name"><a href="#">{{ producto.nomb_prod }}</a></h3>
											<h4 class="product-price">
											${{ producto.inventario.precunit_prod }}
											<del class="product-old-price">${{ producto.inventario.precunit_prod|add:50 }}</del>
											</h4>

											<!-- Estado del producto en texto dentro de un cuadro -->
										 {% if producto.inventario.stock_actual <= 3%}
											<p class="estado-agotado">AGOTADO</p>
											{% else %}
											<p class="estado-disponible">DISPONIBLE</p>
											{% endif %}


										<div class="product-btns">
										<!-- Botón de Vista Rápida -->
										<a href="{% url 'producto_vista_rapida' producto.id_prod %}" class="quick-view-btn">
											<i class="fa fa-eye"></i>
											<span class="tooltipp">Vista rápida</span>
										</a>
										

										<!-- Botón de Añadir al carrito -->
										<button class="add-to-cart-btn" data-product-id="{{ producto.id_prod }}">
											<i class="fa fa-shopping-cart"></i>
											<span class="tooltipp">Añadir al carrito</span>
										</button>
										</div>
										</div>
										</div>
										{% endfor %}
						
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <!-- Puedes mantener el contador como decoración -->
          <ul class="hot-deal-countdown">
            <li><div><h3>✓</h3><span>Calidad</span></div></li>
            <li><div><h3>✓</h3><span>Garantía</span></div></li>
            <li><div><h3>✓</h3><span>Stock</span></div></li>
          </ul>

          <h2 class="text-uppercase">Repuestos Garantizados</h2>
          <p>Todo para tu laptop en un solo lugar</p>
          <a class="primary-btn cta-btn" href="#">Ver catálogo</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /HOT DEAL SECTION -->


		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Productos más vendidos</h3>
						</div>
					</div>
					<!-- /section title -->

					
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Suscríbete a nuestras <strong>NOVEDADES</strong></p>
							<form>
								<input class="input" type="email" placeholder="Ingresa tu correo electrónico">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Suscribete</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->
		

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">SOBRE NOSOTROS</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categorias</h3>
								<ul class="footer-links">
									<li><a href="#">Hot deals</a></li>
									<li><a href="#">Pantalla</a></li>
									<li><a href="#">Baterias</a></li>
									<li><a href="#">Cargadores</a></li>
									<li><a href="#">Accesorios</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
									<li><a href="#">About Us</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Orders and Returns</a></li>
									<li><a href="#">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Service</h3>
								<ul class="footer-links">
									<li><a href="#">Mi Cuenta</a></li>
									<li><a href="#">Ver Carrito</a></li>
									<li><a href="#">Seguimiento del pedido</a></li>
									<li><a href="#">Ayuda</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by: Yesseña Canchig y Adriana Carua
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->
        
        <!-- jQuery Plugins -->
        <script src="{% static 'plantilla_cliente/js/jquery.min.js' %}"></script>
        <script src="{% static 'plantilla_cliente/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'plantilla_cliente/js/slick.min.js' %}"></script>
        <script src="{% static 'plantilla_cliente/js/nouislider.min.js' %}"></script>
        <script src="{% static 'plantilla_cliente/js/jquery.zoom.min.js' %}"></script>
        <script src="{% static 'plantilla_cliente/js/main.js' %}"></script>
		<script>
			<script>
				document.addEventListener('DOMContentLoaded', function () {
					const botones = document.querySelectorAll('.add-to-cart-btn');

					botones.forEach(function (boton) {
						boton.addEventListener('click', function () {
							const idProd = this.getAttribute('data-product-id');
							agregarAlCarrito(idProd);
						});
					});
				});

				function agregarAlCarrito(idProd) {
					fetch('/agregar-al-carrito/', {
						method: 'POST',
						headers: {
							'X-CSRFToken': getCookie('csrftoken'),
							'Content-Type': 'application/x-www-form-urlencoded'
						},
						body: `id_prod=${idProd}&cantidad=1`
					})
					.then(response => response.json())
					.then(data => {
						if (data.success) {
							actualizarDropdown(data.total_items, data.total_precio);
							cargarProductosCarrito();
						}
					});
				}

				function cargarProductosCarrito() {
					fetch('/obtener-carrito/')
					.then(res => res.json())
					.then(data => {
						document.querySelector('.cart-list').innerHTML = data.html;
					});
				}

				function actualizarDropdown(totalItems, totalPrecio) {
					document.querySelector('.dropdown .qty').textContent = totalItems;
					document.querySelector('.cart-summary small').textContent = `${totalItems} Item(s) selected`;
					document.querySelector('.cart-summary h5').textContent = `SUBTOTAL: $${totalPrecio.toFixed(2)}`;
				}

				function getCookie(name) {
					let cookieValue = null;
					if (document.cookie && document.cookie !== '') {
						const cookies = document.cookie.split(';');
						for (let i = 0; i < cookies.length; i++) {
							const cookie = cookies[i].trim();
							if (cookie.substring(0, name.length + 1) === (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}
				</script>
				<script>
  document.addEventListener("DOMContentLoaded", function() {
    const toggle = document.getElementById("btnCuenta");
    const menu = document.getElementById("menuCuenta");

    if (toggle) {
      toggle.addEventListener("click", function(e) {
        e.stopPropagation();
        menu.style.display = (menu.style.display === "block") ? "none" : "block";
      });

      document.addEventListener("click", function() {
        menu.style.display = "none";
      });
    }
  });
</script>
<meta name="csrf-token" content="{{ csrf_token }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    const csrftoken = $('meta[name="csrf-token"]').attr('content');

    $('.add-to-cart-btn').click(function(e) {
        e.preventDefault();

        const productId = $(this).data('product-id');
        const url = `/add-to-cart/${productId}/`;

        $.ajax({
            type: 'POST',
            url: url,
            headers: {'X-CSRFToken': csrftoken},
            success: function(response) {
                if (response.success) {
                    alert(response.message);
                    // Aquí puedes actualizar un contador en la UI si tienes
                } else {
                    alert('Error al agregar el producto.');
                }
            },
            error: function() {
                alert('Error en la comunicación con el servidor.');
            }
        });
    });
});
</script>

    </body>
</html>