{% extends "./plantilla.html" %}

{% block contenido %}
<br>
<br>
<h3 class="text-center mb-4">LISTADO DE PRODUCTOS</h3>
<div class="card  shadow">
    
    <div class="card-body">
        
        <table class="table table-bordered table-striped table-hover" id="tbl_productos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE PRODUCTO</th>
                    <th>DESCRIPCION</th>
                    <th>IMAGEN</th>
                    <th>ESTADO</th>
                    <th>BORRADO LOGICO</th>
                    <th>FECHA CREACION</th>
                    <th>FECHA ACTUALIZACION</th>
                    <th>CATEGORIA</th>
                    <th>ACCIONES</th>

                </tr>
            </thead>
            <tbody>
                {% for prod in producto %}
                <tr>
                    <td>{{ prod.id_prod }}</td>
                    <td>{{ prod.nomb_prod}}</td>
                    <td>{{ prod.descrip_prod}}</td>
                    <td>
                        {% if prod.img_prod and prod.img_prod.url %}
                            <a  href="{{prod.img_prod.url}}" target="_blank">
                                <img src="{{prod.img_prod.url}}" alt=""
                                height="100px" width="100px">
                            </a><br>
                            <a download  href="{{prod.img_prod.url}}" class="btn btn-success btn-sm me-2">
                                Descargar
                            </a>
                        {% else %}
                            <p>No hay foto disponible.</p>
                        {% endif %}
                    </td>
                    <td>{{ prod.esta_prod }}</td>
                    <td>{{ prod.borrado_prod }}</td>
                    <td>{{ prod.fechcreac_prod  }}</td>
                    <td>{{ prod.fechactu_prod }}</td>
                    <td>{{ prod.categorias }}</td>
                    
                    <td>
                        <a href="/editarProducto/{{ prod.id_prod }}" class="btn btn-warning btn-sm me-2">Editar</a> 
                        <a onclick="return confirm('Esta seguro de eliminar permanentemente')" href="/eliminarProducto/{{ prod.id_prod }}"
                        class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
            let table = new DataTable('#tbl_productos', {
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json'
                },
                dom: 'Bfrtip',
                buttons: ['copy', 'excel', 'csv', 'pdf', 'print'],
                layout: {
                    topStart: {
                        buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5', 'print']
                    }
                }
            });
        </script>
    </div>
</div>
{% endblock %}


